<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>UDID</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <style type="text/css">
        p {
            margin-top: 10%;
            text-align: center;
            font-size: larger;
            font-weight: bolder;
        }
    </style>
</head>
<body>
    <p th:text="${text}"></p>
</body>
</html>
